:root {
  /* ------ */
  /* COLORS */
  /* ------ */

  --color-primary: hsl(43deg 100% 62%);
  --color-secondary: #959595;
  --color-highlight: #ffee99;
  --color-muted: #6B727F;
  --color-muted-dark: #d6d6d6;
  --color-error: #fd6d32;
  --color-recessed: hsl(43deg 80% 52%);

  --color: #CCCCCB;
  --color-focus: #3d88f8;

  /* --------- */
  /* PIXEL ART */
  /* --------- */

  /* Each sprite pixel is displayed at 4x */
  --pixel-size: 4;

  --spritesheet-width: 120px;
  --spritesheet-height: 120px;

  --spritesheet-render-width: calc(var(--spritesheet-width) * var(--pixel-size));
  --spritesheet-render-height: calc(var(--spritesheet-height) * var(--pixel-size));


  --block-size: 48px;

  /* ----------- */
  /* GAME CONFIG */
  /* ----------- */

  --cols: 8;
}

/* ------ */
/* THEMES */
/* ------ */

.theme-1bit {
  --color-bg: #271c31;
  --color-overlay: rgba(39, 28, 49, 0.95);
}

.theme-1bit .g-sprite {
  background-image: url('../assets/sprites-1bit.png');
}

.theme-contrast {
  --color-bg: #020408;
  --color-overlay: rgba(2, 4, 8, 0.8);
}

.theme-contrast .g-sprite {
  background-image: url('../assets/sprites-contrast.png');
}

.theme-ega {
  --color-bg:rgb(0, 0, 0);
  --color-overlay: rgba(0, 0, 0, 0.8);
}

.theme-ega .g-sprite {
  background-image: url('../assets/sprites-ega.png');
}

.theme-cga {
  --color-bg:rgb(0, 0, 0);
  --color-overlay: rgba(0, 0, 0, 0.8);
}

.theme-cga .g-sprite {
  background-image: url('../assets/sprites-cga.png');
}

.theme-pico {
  --color-bg: #1F2C50;
  --color-overlay: rgba(31, 40, 80, 0.9);
}

.theme-pico .g-sprite {
  background-image: url('../assets/sprites-pico.png');
}


/* ------------ */
/* GLOBAL UTILS */
/* ------------ */

.g-sprite {
/*  background: url('../assets/sprites-pico.png');
  background: url('../assets/sprites-contrast.png');*/
  background-size: var(--spritesheet-render-width) var(--spritesheet-render-height);
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}


/* ----------- */
/* BASE STYLES */
/* ----------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* Attempt to disable iOS double tap zoom with CSS. These stopped working as
  July 2020. */
  /* touch-action: manipulation;*/
  /* ouch-action: none;*/
}

.app {
  background: var(--color-bg);
}

body,
button,
input {
  font-family: var(--font-family);
}

p {
  margin-top: 0;
}

/* ------- */
/* Headings */
/* ------- */

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: var(--weight-bold);
}

/* ------- */
/* Images */
/* ------- */

img {
  display: block;
}

/* ------- */
/* Buttons */
/* ------- */

button {
  padding: 12px 16px;
  font-size: 16px;
  border: 0;
  border-radius: var(--radius);
  background: white;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:hover {
  cursor: pointer;
}

button:active {
  background: var(--color-muted);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-color: var(--color-focus);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-color: var(--color-focus);
}
